@font-face {
    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 400;
    src: local('Agency FB'), local('AgencyFB-Regular'),
    url(agencyfb.woff) format('woff'),
    url(agencyfb.ttf) format('truetype');
}
